$background-color-darker: #0a0a0a; // Even darker background color
$text-color-light: #ecf0f1; // Light text color for readability
$glow-purple: rgba(138, 43, 226, 0.6); // Purple
$glow-pink: rgba(255, 20, 147, 0.6); // Pink
$glow-blue: rgba(0, 191, 255, 0.6); // Blue

.home-wrapper {
    background-color: $background-color-darker;
    color: $text-color-light;
    height: 100vh; // Ensure it takes full height of the viewport
    max-height: 100vh; // Ensure it takes full height of the viewport
    padding: 20px;
    box-sizing: border-box;


    .games-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}