$background-color-darker: #0a0a0a; // Even darker background color
$text-color-light: #ecf0f1; // Light text color for readability

.home-wrapper {
    background-color: $background-color-darker;
    color: $text-color-light;
    min-height: 100vh; 
    padding: 20px;
    box-sizing: border-box;


    .games-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
}