<div class="quiz-page">
    <div class="quiz-header">
        <p><span id="glow" title="Effect glow shadow">sudoku</span></p>
    </div>



    <div class="quiz-buttons">
        <span class="glow-border">
            <button [routerLink]="['play']" class="quiz-button start-button">Start sudoku</button>
        </span>
        <span class="glow-border">
            <button [routerLink]="['highscores']" class="quiz-button highscores-button disabled" disabled>View Highscores</button>
        </span>

    </div>
</div>